node_modules/
.idea/
.temp/
package-lock.json
*.iml
.gradle
platforms/android/app/build
platforms/android/local.properties
platforms/android/build
platforms/android/.gradle
#platforms/android/.DS_Store
#platforms/android/captures
#platforms/android/.externalNativeBuild
